// COLOR PALETTE
$txt-clr: #2a4d7b;
$txt-clr-dark: #cbe1f1;
$hover-clr: #cbe1f1;
$content-bg: #ffffff6c;
$content-bg-dark: #2e2e2e;

// BOX
$box-shadow: rgb(75 75 75 / 71%) 0px 0px 13px 0px;
$border-radius: 30px;

// LAYOUT
$layout-padding: 100px;
$header-height: 15vh;

// LAYOUT BREAKPOINTS
$mobile-width: 600px;
$tablet-width-narrow: 724px;
$tablet-width: 1024px;