// COLOR PALETTE
$body-bg: #f1f1f1;
$brand-main-clr: #d8ac33;
$brand-sec-clr: #cbe1f1;
$main-clr: #ff0000;
$txt-clr: #0f0f0f;

// BOX
$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$border-radius: 30px;

// LAYOUT
$layout-padding: 100px;
$header-height: 15vh;

// LAYOUT BREAKPOINTS
$mobile-width: 600px;
$tablet-width: 1024px;