@use '../../styles/styles.scss' as *;

.weather-card {
	text-align: center;
	height: 80%;
	padding: 10px;
	&__favorite{
		background-color: $content-bg;
		box-shadow: $box-shadow;
		width: 200px;
		height: 38vh;
		border-radius: 1em;
		padding: 2rem;
	}
	&__info{
		@include flex(center, center);
		flex-direction: column;
	}
}
